<div class="backgroundIndex">
    <div class="row d-flex align-items-center justify-content-center mainMargin">
        <div class="col-lg-12 text-center">
            <img class="imageLogo image-fluid"
                src="https://res.cloudinary.com/djrv6yqfc/image/upload/v1614078082/Just_game_logo_SMALL_nt80gs.png">
            <h1 class="h1Index">Your place for buying, selling <br> and exchanging videogames</h1>
        </div>
        <video class="videoIndex mx-auto" autoplay muted loop>
            <source
                src="https://res.cloudinary.com/djrv6yqfc/video/upload/v1614021098/Star_Wars_Jedi__Fallen_Order_Official_Reveal_Trailer_rknhoy.mp4">
        </video>
    </div>
    <h2 class="h1Index text-center mb-4">Latest Games</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="text-center">
                <a href="/details/{{games.0.id}}"><img src="{{games.0.image}}" class="imageList image-fluid"></a>
                
            </div>
            <div class="text-center row d-flex justify-content-center">
                <h3 class="mt-3 h2Index"><b>{{games.0.title}}</b></h3>
                <h3 class="h2Index">{{games.0.price}}€</h3>
                <div class="col-12 d-flex justify-content-center">
                    <a class="btn btnRegular" href="/game/{{games.0._id}}/message">Contact</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="text-center">
                <a href="/details/{{games.1.id}}"><img src="{{games.1.image}}" class="imageList image-fluid"></a>
                
            </div>
            <div class="row text-center d-flex justify-content-center">
                <h3 class="mt-3 h2Index"><b>{{games.1.title}}</b></h3>
                <h3 class="h2Index">{{games.1.price}}€</h3>
                <div class="col-12 d-flex justify-content-center">
                    <a class="btn btnRegular" href="/game/{{games.1._id}}/message">Contact</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="text-center">
                <a href="/details/{{games.2.id}}"><img src="{{games.2.image}}" class="imageList image-fluid"></a>
                
            </div>
            <div class="row text-center d-flex justify-content-center">
                <h3 class="mt-3 h2Index"><b>{{games.2.title}}</b></h3>
                <h3 class="h2Index">{{games.2.price}}€</h3>
                <div class="col-12 d-flex justify-content-center">
                    <a class="btn btnRegular" href="/game/{{games.2._id}}/message">Contact</a>
                </div>
            </div>
        </div>


    </div>

</div>