<div class="container">
    <h1 class="mb-4">Conversation</h1>

    <form action="/conversation/{{conversationId}}" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text">Message</span>
            <textarea class="form-control {{isInvalid errors.message}}" name="text" aria-label="textarea"
                rows="5">{{message.text}}</textarea>
            {{formError errors.message}}
            <input type="text" hidden value="{{ to.from.id }}" name="toId">
            <input type="text" hidden value="{{ to.game.id }}" name="gameId">
        </div>
        <div class="mt-1 mb-4">
            <button type="submit" class="btn btnRegular">Send</button>
        </div>
    </form>

    {{#each messages as |message|}}
    <div class="row mb-5 d-flex align-items-sm-center">
        <div class="col col-lg-2">
            <img style="width: 9rem" src="{{message.from.avatar}}" alt="Card image cap">
        </div>
        <div class="col col-lg-10 border-start">
            <p class="fw-bold">{{message.game.title}}</p>
            <p class="card-text">{{message.text}}</p>
            <p>{{date message.createdAt}} - <em>{{message.from.name}}</em></p>
        </div>
    </div>
    <div class="separatorLines mx-auto">
        <hr>
    </div>
    {{/each}}
</div>