<div class="container">
  <section class="mb-3">
    <h1>Game detail</h1>
    <hr class="mt-0" />
    <div class="row d-flex align-items-sm-center">
      <div class="col-lg-4">

        <img class="card-img-top" src="{{game.image}}" alt="Card image cap">
      </div>

      <div class="col-lg-8">
        <div class="card-body text-center">
          <h5 class="card-title fs-2">Title: {{game.title}}</h5>
          <p class="card-text fs-4">Platform: {{game.platform}}</p>
          <p class="card-text fs-4">Description:<em> {{game.description}}</em></p>
          <p class="card-text fs-4">Price: {{game.price}}€</p>
          <p class="card-text fs-4">Uploaded: {{date game.createdAt }}</p>

          {{#checkOwner game currentUser }}
          <a class="btn btn-primary mb-3" href="/games/{{game.id}}/edit"><i class="fa fa-cog me-2"></i>Edit</a>
          <form action="/games/{{game.id}}/delete" method="POST">
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash me-2"></i>Delete</button>
          </form>
          {{/checkOwner}}
        </div>
      </div>
  </section>
</div>