<div class="backgroundGameDetail">
  <div class="container rounded-3 p-5">
    <section class="mb-3">
      <h1 class="mb-3">Game detail</h1>
      <div class="row d-flex align-items-sm-center">
        <div class="col-lg-6">

          <img class="card-img-top rounded" src="{{game.image}}" alt="Card image cap">
        </div>

        <div class="col-lg-6">
          <div class="row">

            <div class="col-lg-12 align-items-center justify-content-center d-flex flex-row mb-5">
              <img class="rounded-circle me-4 w-25" src="{{game.user.avatar}}">
              <div class="text-center">
                <h4><a class="fs-4 text-decoration-none" href="/userInfo/{{game.user.name}}">{{game.user.name}}</a></h4>
                <p class="stars fs-4">{{sellerRate game.user.ratings}}</p>
              </div>
            </div>

            <div class="text-center col-lg-12">
              <h5 class="boldText fs-2 mb-3">{{game.title}}</h5>
              <div class="row align-items-center justify-content-center mb-3">
                <p class="boldText fs-5 col-lg-2">{{game.platform}}</p>
                <p class="boldText fs-5 col-lg-2 mb-3">{{game.price}}€</p>
              </div>
              <p class="card-text fs-5 mb-3"><em> {{game.description}}</em></p>
              {{#checkGameOwner game currentUser }}
              <div class="d-flex flex-row justify-content-around mb-3">
                <a class="btn btn-primary mb-3" href="/games/{{game.id}}/edit"><i class="fa fa-cog me-2"></i>Edit</a>
                <form action="/games/{{game.id}}/delete" method="POST">
                  <button type="submit" class="btn btn-danger"><i class="fa fa-trash me-2"></i>Delete</button>
                </form>
              </div>
              {{/checkGameOwner}}
              <i class="boldText fs-6 col-lg-4">{{game.location.location}}</i>
              <i class="boldText fs-6 col-lg-4">{{date game.createdAt }}</i>
            </div>
          </div>

        </div>


    </section>
  </div>
</div>