<div class="container">
    <div class="row d-flex align-items-center">
        {{#each games as | game |}}
        <div class="col col-lg-4 mb-5 d-flex align-items-center flex-column">
            <div class="imageContainer">
                <img src="{{game.image}}" class="mb-2 mt-3 imageList" alt="game-image">
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold fs-4">{{game.title}}</h5>
                    <h4 class="card-text">{{game.platform}}</h4>
                </div>
                <ul class="list-group list-group-flush fs-5">
                    <li class="list-group-item">Genre: <em>{{stringSpace game.genre}}</em></li>
                    <li class="list-group-item">Price: {{game.price}}€</li>
                    <li class="list-group-item">Uploaded by: <a href="/game/{{game._id}}/message">{{game.user.name}}</a> <em>{{date game.createdAt}}</em></li>
                </ul>
                <div class="card-body">
                    <a href="/cart" class="card-link">Add to cart</a>
                    <a href="/details/{{game.id}}" class="card-link">Details</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end fixed-bottom me-5">
            <li class="page-item"><a class="page-link" href="/games?page={{previous page}}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="/games?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="/games?page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="/games?page=3">3</a></li>
            <li class="page-item"><a class="page-link" href="/games?page={{next page count}}">Next</a></li>
        </ul>
    </nav>
    <div id="map"></div>
</div>

