<div class="container bg-light rounded">
    <div class="row d-flex align-items-end">
        <form action="/games" method="get">
            <div class="input-group flex-nowrap mt-3">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" value="{{search}}" name="search" placeholder="Search a game">
                <input type="hidden" name="page" value="1" />
                <button class="btn btn-primary" type="submit">Search</button>
            </div>

        </form>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end m-3">
                <li class="page-item"><a class="page-link"
                        href="/games?page={{previous page}}&search={{search}}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/games?page=1&search={{search}}">1</a></li>
                <li class="page-item"><a class="page-link" href="/games?page=2&search={{search}}">2</a></li>
                <li class="page-item"><a class="page-link" href="/games?page=3&search={{search}}">3</a></li>
                <li class="page-item"><a class="page-link"
                        href="/games?page={{next page count}}&search={{search}}">Next</a></li>
            </ul>
        </nav>
        {{#each games as | game |}}
        <div class="col-12 col-md-6 col-lg-3 mb-5 mt-5 gameContainer">
            <div class="text-center">
                <a href="/details/{{game.id}}"><img src="{{game.image}}" class="imageList"></a>
                <h3 class="mt-3"><b>{{game.title}}</b></h3>
                <h3>{{game.price}}€</h3>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-12 mb-2 d-flex justify-content-center">
                    <div class="fs-5 text-center d-flex flex-row">
                        {{#if game.user.ratings}}
                        <span class="stars fs-4 me-1">{{sellerRate game.user.ratings}}</span>
                        {{/if}}
                        <a href="/userInfo/{{game.user.name}}">{{game.user.name}}</a>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <a class="btn btnRegular" href="/game/{{game._id}}/message">Contact</a>
                </div>
            </div>
        </div>
        {{/each}}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end me-5 mt-4">
                <li class="page-item"><a class="page-link"
                        href="/games?page={{previous page}}&search={{search}}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/games?page=1&search={{search}}">1</a></li>
                <li class="page-item"><a class="page-link" href="/games?page=2&search={{search}}">2</a></li>
                <li class="page-item"><a class="page-link" href="/games?page=3&search={{search}}">3</a></li>
                <li class="page-item"><a class="page-link"
                        href="/games?page={{next page count}}&search={{search}}">Next</a>
                </li>
            </ul>
        </nav>
        {{#if search}}
        <div class="d-flex justify-content-center mb-3">
            <a class="btn btn-danger" href="/games?page=1">Back to games</a>
        </div>
        {{/if}}
    </div>

    <div id="map"></div>
</div>