<div class="container">
    <div class="row d-flex align-items-center">
        {{#each games as | game |}}
        <div class="col col-lg-4 mb-5 d-flex align-items-center flex-column">
            <img src="{{game.image}}" class="mb-2 mt-3" style="width: 14rem" alt="game-image">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">{{game.title}}</h5>
                    <h4 class="card-text">{{game.platform}}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Genre: {{stringSpace game.genre}}</li>
                    <li class="list-group-item">Price: {{game.price}}€</li>
                    <li class="list-group-item">Uploaded by: {{game.user.name}}</li>
                </ul>
                <div class="card-body">
                    <a href="/cart" class="card-link">Add to cart</a>
                    <a href="/details/{{game.id}}" class="card-link">Details</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>