<div class="container">

    <h1>MESSAGES</h1>
    <hr>
    {{#each messages as |message|}}
    <div class="row mb-5 d-flex align-items-sm-center">
        <div class="col col-lg-2">
            <img style="width: 9rem" src="{{message.game.image}}" alt="Card image cap">
        </div>
        <div class="col col-lg-10 border-start">
            <p class="fw-bold">{{message.game.title}}</p>
            <p class="card-text">{{message.text}}</p>
            <p>{{date message.createdAt}} - <em>{{message.from.name}}</em></p>
        </div>
        <div class="col col-lg-12">
            <a href="/conversation/{{message.conversation}}">Conversation</a>
        </div>
    </div>
    <div class="separatorLines mx-auto">
        <hr>
    </div>
    {{/each}}
</div>
