<div class="backgroundProfile">
<section class="container bg-light rounded-3 p-4">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center mb-3">
                <h1>User Profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div style="width: 18rem;">
                    <img src='{{user.avatar}}' class="card-img-top" alt="user avatar">
                    <div class="card-body text-center">
                        <h5 class="h5UserProfile">{{user.name}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">

                <div class="card-body">
                    <form action="/profile" method="POST" class="row g-3" enctype="multipart/form-data">
                        <div class="input-group mb-1">
                            <label class="form-label">Avatar</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-picture-o"></i></span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="avatar-input" name="avatar">
                                    <label class="custom-file-label" for="avatar-input">Change Avatar</label>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-1">
                            <label for="validationCustomUsername" class="form-label">Name</label>
                            <div class="input-group">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-user"
                                        aria-hidden="true"></i></span>
                                <input placeholder="Enter your name" value="{{user.name}}" name="name" type="text"
                                    class="form-control {{isInvalid errors.name}}" aria-describedby="inputGroupPrepend">
                                {{formError errors.name}}
                            </div>
                        </div>
                        <div class="input-group mb-1">
                            <label for="validationCustomUsername" class="form-label">Email</label>
                            <div class="input-group">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-envelope-o"
                                        aria-hidden="true"></i></span>
                                <input placeholder="Please, enter your email" value="{{user.email}}" name="email"
                                    type="text" class="form-control {{isInvalid errors.email}}"
                                    aria-describedby="inputGroupPrepend">
                                {{formError errors.email}}
                            </div>
                        </div>
                        <div class="input-group mb-1">
                            <label for="validationCustomUsername" class="form-label">Password</label>
                            <div class="input-group">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-lock"
                                        aria-hidden="true"></i></span>
                                <input placeholder="Please, enter your password" name="password" type="password"
                                    class="form-control {{isInvalid errors.password}}"
                                    aria-describedby="inputGroupPrepend">
                                {{formError errors.password}}
                            </div>
                        </div>
                        <div class="input-group mb-1">
                            <label for="validationCustomUsername" class="form-label">Repeat password</label>
                            <div class="input-group">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-lock"
                                        aria-hidden="true"></i></span>
                                <input placeholder="Please, repeat your password" name="passwordMatch" type="password"
                                    class="form-control {{isInvalid errors.passwordMatch}}"
                                    aria-describedby="inputGroupPrepend">
                                {{formError errors.passwordMatch}}
                            </div>
                        </div>
                        <div class="input-group mb-1">
                            <label for="validationCustomUsername" class="form-label">Location</label>
                            <div class="input-group">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-map-marker"
                                        aria-hidden="true"></i></span>
                                <input value="{{user.location}}" placeholder="Please, enter your city" name="location"
                                    type="text" class="form-control {{isInvalid errors.location}}"
                                    aria-describedby="inputGroupPrepend">
                                {{formError errors.location}}

                            </div>
                        </div>
                        <div class="input-group mb-1">
                            <button class="btn btn-primary btn-block" type="submit">Update Profile</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
</div>