<section>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <h1>User Profile</h1>
            </div>
        </div>
        <hr class="mt-0">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src='{{user.avatar}}' class="card-img-top" alt="user avatar">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{user.name}}</h5>
                    </div>
                    <ul class="list-group list-group-flush d-flex align-items-center">
                        <li class="list-group-item"><a class="btn btn-primary">Compras</a></li>
                        <li class="list-group-item"><a class="btn btn-primary">Ventas</a></li>
                    </ul>
                    {{!-- <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div> --}}
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <form action="/profile" method="POST" class="row g-3">
                            <div class="input-group mb-1">
                                <label class="form-label">Avatar</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-picture-o"></i></span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="avatar-input" name="avatar">
                                        <label class="custom-file-label" for="avatar-input">Change Avatar</label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-1">
                                <label for="validationCustomUsername" class="form-label">Name</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-user"
                                            aria-hidden="true"></i></span>
                                    <input placeholder="Enter your name" value="{{user.name}}" name="name" type="text"
                                        class="form-control {{isInvalid errors.name}}"
                                        aria-describedby="inputGroupPrepend">
                                    {{formError errors.name}}
                                </div>
                            </div>
                            <div class="input-group mb-1">
                                <label for="validationCustomUsername" class="form-label">Email</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-envelope-o"
                                            aria-hidden="true"></i></span>
                                    <input placeholder="Please, enter your email" value="{{user.email}}" name="email"
                                        type="text" class="form-control {{isInvalid errors.email}}"
                                        aria-describedby="inputGroupPrepend">
                                    {{formError errors.email}}
                                </div>
                            </div>
                            <div class="input-group mb-1">
                                <label for="validationCustomUsername" class="form-label">Password</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-lock"
                                            aria-hidden="true"></i></span>
                                    <input placeholder="Please, enter your password" name="password" type="password"
                                        class="form-control {{isInvalid errors.email}}"
                                        aria-describedby="inputGroupPrepend">
                                    {{formError errors.password}}
                                </div>
                            </div>
                            <!--TODO: REPEAT THE PASSWORD-->
                            <div class="input-group mb-1">
                                <label for="validationCustomUsername" class="form-label">Location</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-map-marker"
                                            aria-hidden="true"></i></span>
                                    <input value="{{user.location}}" placeholder="Please, enter your city"
                                        name="location" type="text" class="form-control {{isInvalid errors.location}}"
                                        aria-describedby="inputGroupPrepend">
                                    {{formError errors.location}}

                                </div>
                            </div>
                            <div class="input-group mb-1">
                                <button class="btn btn-primary btn-block" type="submit">Update Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>