<div class="registerSocialLogin">
    <div>
        <h1>REGISTER YOUR SELF!</h1>
    </div>
    <div>
        <h3>Access thousands of games to buy or put your own for sale</h3>
    </div>
    <div>
        <h4>Don't forget to check your e-mail to activate your account</h4>
    </div>
</div>


<div class="registerBlock">
    <div class="verticalLine registerSize">
        <form action="/register" method="POST">
            <div>
                <label for="validationCustomUsername" class="form-label">Name</label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-user"
                            aria-hidden="true"></i></span>
                    <input placeholder="Enter your name" value="{{user.name}}" name="name" type="text"
                        class="form-control {{isInvalid errors.name}}" aria-describedby="inputGroupPrepend">
                    {{formError errors.name}}
                </div>
            </div>
            <div>
                <label for="validationCustomUsername" class="form-label">Email</label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-envelope-o"
                            aria-hidden="true"></i></span>
                    <input placeholder="Please, enter your email" value="{{user.email}}" name="email" type="text"
                        class="form-control {{isInvalid errors.email}}" aria-describedby="inputGroupPrepend">
                    {{formError errors.email}}
                </div>
            </div>
            <div>
                <label for="validationCustomUsername" class="form-label">Password</label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-lock"
                            aria-hidden="true"></i></span>
                    <input placeholder="Please, enter your password" name="password" type="password"
                        class="form-control {{isInvalid errors.email}}" aria-describedby="inputGroupPrepend">
                    {{formError errors.password}}
                </div>
            </div>
            <div>
                <label for="validationCustomUsername" class="form-label">Repeat password</label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-lock"
                            aria-hidden="true"></i></span>
                    <input placeholder="Please, repeat your password" name="passwordMatch" type="password"
                        class="form-control {{isInvalid errors.passwordMatch}}" aria-describedby="inputGroupPrepend">
                    {{formError errors.passwordMatch}}
                </div>
            </div>
            <div>
                <label for="validationCustomUsername" class="form-label">Location</label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-map-marker"
                            aria-hidden="true"></i></span>
                    <input value="{{user.location}}" placeholder="Please, enter your city" name="location" type="text"
                        class="form-control {{isInvalid errors.location}}" aria-describedby="inputGroupPrepend">
                    {{formError errors.location}}

                </div>
            </div>
            <div class="mt-4">
                <button class="btn btnRegular btn-block" type="submit">Register</button>
            </div>
        </form>
    </div>


    <div class="registerSocialLogin registerSize">
        <a class="btn btnGoogle btn-block mb-3" href="/authenticate/google"><i class="fa fa-google"></i> Register with
            Google</a>
        <a class="btn btnSteam btn-block" href="/authenticate/steam"><i class="fa fa-steam"></i> Register with
            Steam</a>
    </div>
</div>