<div class="backgroundUserInfo">
    <div class="container">
        <div class="row justify-content-between align-items-center">

            <div class="col-12 col-lg-2 d-flex justify-content-around bg-light rounded p-1">
                <div class="text-center">
                    <img src='{{user.avatar}}' class="card-img-top userAvatar" alt="user avatar">
                    <div class="card-body">
                        <h6>{{user.name}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9 bg-light rounded-3 d-flex justify-content-center">
                <form action="/userInfo/{{ user.name }}?page=1" method="post" class="mt-3 mb-3 w-75">
                    <div class="input-group mb-3 {{isInvalid errors.rate}}">
                        <div class="txt-center {{isInvalid errors.rate}}">
                            <div class="rating">
                                <input id="star5" name="rate" type="radio" value="5" class="radio-btn hide" />
                                <label for="star5">☆</label>
                                <input id="star4" name="rate" type="radio" value="4" class="radio-btn hide" />
                                <label for="star4">☆</label>
                                <input id="star3" name="rate" type="radio" value="3" class="radio-btn hide" />
                                <label for="star3">☆</label>
                                <input id="star2" name="rate" type="radio" value="2" class="radio-btn hide" />
                                <label for="star2">☆</label>
                                <input id="star1" name="rate" type="radio" value="1" class="radio-btn hide" />
                                <label for="star1">☆</label>
                                <div class="clear"></div>
                            </div>
                        </div>
                        {{formError errors.rate}}
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            
                        </div>
                        <input type="text" value="{{rating.title}}" class="form-control {{isInvalid errors.title}}"
                            name="title" placeholder="Title">
                        {{formError errors.title}}
                    </div>
                    <div class="input-group mb-1">
                        
                        <textarea name="text" placeholder="Describe your rate..."
                            class="form-control {{isInvalid errors.text}}" rows="3">{{rating.text}}</textarea>
                        {{formError errors.text}}
                    </div>
                    <button type="submit" class="btn btn-primary mt-1">Rate User</button>
                </form>
            </div>


        </div>
        <div class="row mt-3 bg-light rounded-3 p-4">
            <div class="col d-flex justify-content-start align-items-baseline">
                <div class="trophy">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                </div>
                <div class="col col-2">
                    <h3><b>Feedback ratings</b></h3>
                </div>
            </div>


            {{#each ratings as |rating| }}
            <div class="card mb-2 p-3">
                <div style="border-bottom: solid grey 1px;">
                    <h4 class="ratingHeader">{{ title }}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text"><span class="stars fs-3">{{stars rate}}</span></p>
                    <p class="card-text">{{ text }}</p>
                    <p class="card-text"><em>By: {{ user.name }}</em></p>
                    <div class="row align-items-center">
                        <p class="col-12 col-lg-1 m-0" style="font-size: 0.8rem;">{{ date createdAt }}</p>
                        <div class="col-12 col-lg-10 ms-2">
                            {{#checkRatingOwner rating ../currentUser}}
                            <form action="/userInfo/{{rating.id}}/delete" method="post">
                                <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i>
                                    Delete</button>
                            </form>
                            {{/checkRatingOwner}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end me-5">
                <li class="page-item"><a class="page-link"
                        href="/userInfo/{{user.name}}?page={{previous page}}">Previous</a></li>
                <li class="page-item"><a class="page-link"
                        href="/userInfo/{{user.name}}?page={{nextRating page count}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>